<body data-new-gr-c-s-check-loaded="14.1052.0" data-gr-ext-installed="">
  <div class="container-fluid">
    <header class="blog-header py-5">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a routerLink="/products" class="navbar-brand" href="#"
            >Window Shop</a
          >

          <div
            class="collapse navbar-collapse justify-content-end align-items-center"
            id="navbarCollapse"
          >
            <app-search></app-search>

            <app-login-status></app-login-status>

            <app-cart-status></app-cart-status>
          </div>
        </div>
      </nav>
    </header>
  </div>

  <main>
    <div class="row featurette p-4 p-md-5 mb-4 rounded text-black bg-light">
      <div class="col-md-7 row featurette col-md-6 px-0">
        <h1 class="display-4 fst-italic">Specials Sales Event</h1>
        <p class="lead my-3">
          Mark your calendar for special promotions While prices on Overstock
          are low all year-round, the site routinely runs holiday promotions and
          other special sales events so you can save even more.
        </p>
        <p class="lead mb-0">
          <a href="#" class="text-black fw-bold">Continue reading...</a>
        </p>
      </div>
      <div class="col-md-5">
        <a href="#">
          <img src="assets/images/sale.png" alt="shop" class="img-responsive" style="width:800px;height:300px;"/>
        </a>
      </div>
    </div>

    <div class="container">
      <div class="row g-8">
        <div class="col-md-8">
          <router-outlet></router-outlet>
        </div>

        <div class="col-md-4">
          <div class="position-sticky" style="top: 6rem">
            <div class="p-4 mb-3 bg-light rounded">
              <h4 class="fst-italic">
                Member Days :<span class="text-muted"
                  >Get $5 back for every $50 you spend!</span
                >
              </h4>
              <p class="mb-0">
                Shop the sale online at Window Shop up on lots of great deals!
                Discover new marked-down favourites from all departments:
                women's, men's, kids' and home.
              </p>
            </div>

            <div class="p-4">
              <h4 class="fst-italic">Category Menu</h4>
              <app-product-category-menu></app-product-category-menu>
            </div>

            <div class="p-4">
              <h4 class="fst-italic">Discovery</h4>
              <ol class="list-unstyled">
                <li>
                  <a href="#"
                    >Shipping</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Menbership</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Return</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Customer Service</a
                  >
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <footer class="blog-footer">
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </footer>
  </main>

  <!-- ENDS PAGE CONTAINER -->
</body>
