<div class="detail-section">
  <div class="container-fluid justify-content-end align-items-center">
    <img src="{{ product.imageUrl }}" class="detail-img" />

    <h5>{{ product.name }}</h5>
    <div class="price">{{ product.unitPrice | currency: "USD" }}</div>
    <button (click)="addToCart()" class="btn btn-primary btn-sm">
      Add to cart
    </button>

    <hr />
    <h4>Description</h4>
    <p>{{ product.description }}</p>

    <a routerLink="/products" class="mt-5">Back to Product List</a>
  </div>
</div>
